@font-face {
    font-family: roboto-black;
    src: url(fonts/roboto-black.woff2);
   }
@font-face {
    font-family: Raleway-Regular;
    src: url(fonts/Raleway-Regular.ttf);
   }
@font-face {
    font-family: Raleway-Medium;
    src: url(fonts/Raleway-Medium.ttf);
   }
@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.ttf);
   }