@import 'var';
.main{
display: flex;
width: 100%;
justify-content: center;
    &__photo{
        width:$WidthSeсtion;
        // background-image: url(img/face.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        text-align: $TextAlign;
        position: relative;
    }
    &__img{
        border: 1px solid $SecondColor;
        margin-top: 14px;

        @extend .separator;
        &:before{
            display: block;
        }
    }
    &__info{
        width:$WidthSeсtion;
        text-align: $TextAlign;
        padding-top: 90px;
        border-left: 1px solid $SecondColor;
    }
    &__next,&__prev{
        color: $SecondColor;  
        font-size: $BaseFontSize + 6px; 
        font-weight: 1000;
        position: absolute;
        cursor: pointer;
    } 
    &__prev{
        top: 56%;
        left:-41px;
    }  
    &__next{
        top: 56%;
        right:-100%;
    }  

}
.img-container{
    width: $ImgSize;
    height: $ImgSize;
    background:
    linear-gradient(to right, $SecondColor 1px, transparent 1px) 0 0,
    linear-gradient(to right, $SecondColor 1px, transparent 1px) 0 100%,
    linear-gradient(to left, $SecondColor 1px, transparent 1px) 100% 0,
    linear-gradient(to left, $SecondColor 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, $SecondColor 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, $SecondColor 1px, transparent 1px) 100% 0,
    linear-gradient(to top, $SecondColor 1px, transparent 1px) 0 100%,
    linear-gradient(to top, $SecondColor 1px, transparent 1px) 100% 100%;
    
    background-repeat: no-repeat;
    background-size: $SeparatorWidth $SeparatorWidth;
    margin-top: 90px; 
}
.details{
&__separator{

    @extend .separator;
    &:before{
        display: none;
    }
    &:after{
        width:$SeparatorWidth;     
    }
            }
&__separator--lower{
    @extend .separator;
    &:before{
        display: none;
    }
    &:after{
        width:$SeparatorWidth / 2; 
        border-top: 4px dashed $SecondColor;
    }
                        }            
&__name{
    font-family: roboto-black,sans-serif;
    font-size: $BaseFontSize+20px;
    letter-spacing: $LetterSpacing;
    color: $MainColor;
}
&__position{
    font-family: Raleway-Regular,sans-serif;
    font-size: $BaseFontSize + 8px;
    color: $MainColor;
}   
&__descr{
    font-family: Raleway-Medium,sans-serif;
    font-size: $BaseFontSize - 2px;
    line-height: 1.71em;
    color: #333333;
} 
&__social{
    display: flex;
    justify-content: space-around;
    width:135px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
} 
&__social>a{
    color:$SocialColor;
    position: relative;

    &:after{
        content: '';
        width: 30px;
        height: 30px;
        border: 1px solid $SocialColor;
        border-radius: 50%;
        position: absolute;
        left: -8px;
        top: -7px;

    }
}      
&__separator,&__position,&__social,&__descr{
    margin-bottom: $InfoMarginBottom;
    margin-top: 0;
}

}
.icon{
    width:15px
}
.view{
    width: 122px;
    border: 1px solid $SecondColor;
    background-color: #fff;
    text-align: $TextAlign;
    margin-top: 26px;
    outline: none;
    &__name{
        font-family: OpenSans-Bold;
        font-size: $BaseFontSize - 2px;
        color: $MainColor;
    }
}
.view:active{
    background-color: #b1b1b1;
    outline: none;
}
