* {
  transition: all 0.1s ease-in;
}
body {
  background-color: #fdde7e;
}

h2 {
  color: #02995b;
  font-family: "Miso", sans-serif;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 1.75px;
  margin-top: 30px;
  margin-bottom: 15px;
}
h3 {
  color: #333333;
  font-family: "Miso", sans-serif;
  font-size: 56px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}

p {
  color: #000000;
  font-family: "miso", sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
  margin: 0;
  letter-spacing: 0.5px;
}
.column {
  width: 1190px;
  display: flex;
  justify-content: space-between;
  background-color: #fdde7e;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
}

.cups {
  width: 361px;
  height: 441px;
  background-color: #ffffff;
  text-align: center;
  position: inherit;
  align-items: center;
  align-content: center;
}

.cups:hover {
  height: 500px;
}
