@font-face {
    font-family: gothambold1;
    src: url(fonts/gothambold1.woff);
}
@font-face {
    font-family: GothamBook;
    src: url(fonts/GothamBook.woff);
}
@font-face {
    font-family: gotham-medium;
    src: url(fonts/gotham-medium-webfont.woff);
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
