$height: 800px;
$MainFontColor: #ffffff;
$SecongFontColor: #2c4058;
$Radius: 40px;
$FirstFontFamily: gothambold1, sens-serif;
$SecondFontFamily: GothamBook, sens-serif;
$ThirdFontFamily: gotham-medium, sens-serif;
$MainFotSize: 44px;

$SmallFontSize: 18px;
$ArrowsPosition: 10%;
