@font-face {
    font-family: Raleway-Light;
    src: url(fonts/Raleway-Light.ttf);  /*Не нашел шрифт в woff формате*/
   }
@font-face {
    font-family: Raleway-Bold;
    src: url(fonts/Raleway-Bold.ttf);  /*Не нашел шрифт в woff формате*/
   }  
   @font-face {
    font-family: Raleway-heavy;
    src: url(fonts/raleway-heavy.woff);
   }   
 *{
     box-sizing: border-box;
 }   
body{
    min-width: 1500px;
    background-color: #b07cf7;
    text-align: center;
}
header{
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    text-align: left;
}
h1{
    color: #ffffff;
    font-size: 90px;
    font-family: Raleway-Bold,sans-serif;
    margin: 100px 0 0 0;
}
.h1-p{
    font-size: 17px;
    line-height: 1.4em;
    color: #ffffff;
    font-family: Raleway-Light,sans-serif;
    margin-bottom: 45px;
}
.content{
    /* width:30% */
    width:370px;
    height:310px;
    position: relative;
}
.content:hover{
    transform: rotate(30deg) scale(1.1);
    transition: transform 2s;
}
.content-1{
    background-image: url(images/img-1.png);
    margin-right: 15px;
}
.content-2{
    background-image: url(images/img-2.png);
    margin: 0 15px;
}
.content-3{
    background-image: url(images/img-3.png);
    margin-left: 15px;
}
h2{
    text-align: center;
    width:60px;
    height: 60px;
    background-color: #434953;
    border-radius: 4px 4px;
    margin-top: 30px;
    margin-left: 30px;
    color: #ffffff;
    vertical-align: middle;
    position: relative;
}
.h2-p{
    padding: 0;
    line-height: 1em;
}
span{
    padding:0;
    display: block;
}
.number{
    font-family: Raleway-Bold,sans-serif;
    font-size: 32px;
    padding-top: 0;
    position: absolute;
    top:-4px;
    left:12px;
}
.month{
    font-family: Raleway-heavy,sans-serif;
    font-size: 21px;
    padding-bottom: 0px;
    position: absolute;
    top:32px;
    left:8px;
}
.section-1{
    font-family: Raleway-Bold,sans-serif;
    font-size: 20px;  
}
.section-2{
    font-family: Raleway-Light,sans-serif;
    font-size: 13px;
}
.p{
    color: #ffffff;
    vertical-align: bottom;
    margin-left: 20px;
    top:10px;
    position: absolute;
    top: 193px;
}
.view{
    font-size: 20px;
    font-family: Raleway-Light,sans-serif;
    padding: 20px 40px;
    background-color: #f72b3b;
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}
.view:hover{
    transform: translate(110%, 0);

}