@font-face {
    font-family: BebasNeue-Bold;
    src: url(fonts/bebas_neue/bebasneue-bold-webfont.woff);
}
@font-face {
    font-family: BebasNeue-Book;
    src: url(fonts/bebas_neue/bebasneue-book-webfont.woff);
}
@font-face {
    font-family: BebasNeue-Light;
    src: url(fonts/bebas_neue/bebasneue-light-webfont.woff);
}
@font-face {
    font-family: BebasNeue-Regular;
    src: url(fonts/bebas_neue/bebasneue-regular-webfont.woff);
}
@font-face {
    font-family: BebasNeue-Thin;
    src: url(fonts/bebas_neue/bebasneue-thin-webfont.woff);
}
@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.woff);
}
