
@font-face {
    font-family: Quicksand-Bold;
    src: url(fonts/Quicksand-Bold.ttf);
   }
@font-face {
    font-family: Quicksand-Regular;
    src: url(fonts/Quicksand-Regular.ttf);
   }
main{
    max-width: 400px;
    background-image: url(images/bg.jpg);
    margin: 0 auto;
    max-height: 493px;
    box-shadow: 0px 20px 16px 0px rgba(0,0,0,0.7)
}
.container{
    padding:52px 69px 55px 70px;

}
.nav{
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    margin-bottom: 44px;  
}
.nav__item{
    margin-right: 26px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
    color:#e1c2f1;
    font-size: 18px;
    font-family: Quicksand-Bold;
}
.nav__item:hover{
    border-bottom: 2px solid #e66a64;
    color: #fbf6e4;
}
.form{
    color:#ffffff
}
.form__item{
    background-color: transparent;
    border: 2px solid #9c86c8;
    margin-top: 0;
    margin-bottom: 18px;
    margin-top: 11px;
    width: 100%;
    height: 38px ;
    outline: none;
}
.form__item:focus{
    border-color: #23ae92;
}

.form__item:valid{
    border-color: #23ae92;
}
input[type=checkbox]{
    text-align: center;
}
.form__label{
    font-size: 16px;
    color: #fbf6e4;
    font-family: Quicksand-Bold;
}
.form__chekcbox+label{
    margin:25px;
    position: relative;
    color: #fbf6e4;
    font-size: 13px;
    font-family: Quicksand-Bold;
}
.form__chekcbox {
	position: absolute;
	z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
    margin-bottom: 41px;
}
.form__chekcbox + label:before {
	content: '';
    position: absolute;
    top: 2px;
    left: -23px;
	width: 16px;
	height: 16px; 
	background: #ffffff;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s; 
} 

.form__chekcbox + label:after {
    content: '';
    background-image: url(images/check.png);
	position: absolute;
    top: 2px;
    left: -23px;
	width: 16px;
	height: 16px; 
    transition: .2s;
    font-size: 8px;
    opacity: 0;
    margin-right: 5px;
}
.form__chekcbox:checked + label:before {
    background: #23ae92;
}
.form__chekcbox:checked + label:after {
    opacity: 1;
}
.form__submit{
    text-align: center;
    width: 100%;
    background-color: #23ae92;
    margin-bottom: 33px;
    padding: 12px 0 12px 0;
    margin-top: 41px;
    outline: none;
    border: none;
    color: #fbf6e4;
    font-size: 18px;
    font-family: Quicksand-Bold;
}
.add{
    display: flex;
    justify-content: space-between;
    font-family: Quicksand-Regular;
    font-size: 13px;
}
.add__button{
    background-color: transparent;
    border: none;
    outline: none;
    color: #918bc2;
    cursor: pointer;
    padding: 0;
    padding-bottom: 2px;
    border-bottom: 1px solid #3f39b0;
}
.add__button:hover{
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}
