@font-face {
    font-family: lato-bold;
    src: url(fonts/lato-bold.woff2);
}
@font-face {
    font-family: Lato-Regular;
    src: url(fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: lato-light;
    src: url(fonts/lato-light.woff);
}
